body{
background-color: white;
color: rgb(19, 18, 18);
}
h3{
    text-align: center;
}
.primeiro-titulo{
color:black;
text-align: center;
}
a{
     color:white;
}
header{
background-color: brown;}



